/* fonts */
@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic');
/*Start Public Style*/
body {
  direction: rtl;
  overflow-x: hidden;
  font-family: Cairo, sans-serif;
}
.page-content-wrapper .panel-heading{
 margin-top: 20px;
 margin-bottom: 20px;
 border-bottom: 2px solid #aaa;
}
.btn{
  border:2px solid #ffc107;
}
.btn,
.form-control,
.custom-file-label{
  border-radius: 0;
}
.help-block {
  color: #3c763d;
  font-size: 12px;
}
.has-error {
  color :#a94442;
}
.lobibox-notify {
  font-family: "Cairo", sans-serif;
}
.lobibox-notify .lobibox-notify-title {
  margin-right: 10px;
}
.lobibox-notify-wrapper.top {
  top: 57px;
}
.lobibox-notify-wrapper.left {
  left: 5px;
  margin-right: 0px;
}
.page-content-wrapper .panel-heading h1{
  color: #555555;
}
/*End Poblic Style*/
.navbar{
  background-color: #060606!important; 
  /*box-shadow: 0 2px 3px #aaa;*/
  border-bottom: 2px solid #777;
}
/*Brand Name*/
.navbar a.navbar-brand {
    font-weight: bold;
    margin-right: 15px;
}
.navbar .nav .nav-item .nav-link {
    color: #aaa;
}
/*wrapper*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-right: 250px;
}
.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background-color: #060606;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled .sidebar-wrapper {
  width: 250px;
}
div.page-content-wrapper,
div.sidebar-wrapper {
    top: 50px;
}
.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled .page-content-wrapper {
  position: absolute;
  margin-right: 0px;
}
/*Start Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  line-height: 40px;
  padding-top: 10px;
}
.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #eee;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li.hvr-backward{
  display: block;
}
.sidebar-nav li a i{
  padding-right: 15px;
}
.custom-file {
  margin-top: 10px;
}
/*End Sidebar Styles */
/*Start Sidebar Media Query*/
@media(min-width:768px) {
  a.navbar-brand.mr-auto{
    margin-right: 17px;
  }
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-right: 250px;
  }
  .sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled .sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/*End Sidebar Media Query*/

/*Start Table style*/
.page-content-wrapper .panel-body .form-row .form-group button{
  width: 100%;
}
.page-content-wrapper .panel-body .table .dropdown button{
  border: 0;
  background: none;
  transition: all .4s ease-in-out;
  cursor: pointer;
}
.page-content-wrapper .panel-body .table .dropdown button:hover{
transform: scale(1.2,1.2);
}
.page-content-wrapper .panel-body .table .dropdown-menu.show {
    border-radius: 0;
    background-color: #f2f2f2;
}
/*End Table Style*/

/*Start Form style*/

.page-content-wrapper .panel-body .custom-file-label{
  border-radius: 0;
}
.page-content-wrapper .panel-body .form-row label{
  font-weight: bold;
  margin-top: 15px;
  color: #555555;
}
.page-content-wrapper .panel-body .send{
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;
}
.page-content-wrapper .panel-body .send .btn{
  width: 49%;
  border-radius: 0;
}
/*End Form Style*/

/*Start Body Media Query*/
@media (max-width: 767px) {

.navbar .nav .nav-item .nav-link{
  width: 0;
}
}
@media (min-width: 768px){

}
/*End Table Style*/
/*End Body Media Query*/
